/*-- scss:defaults --*/


$primary: #f5cac3 !default;
$body-bg: #e5e5e5 !default;
$code-block-border-left: #00f5d4 !default;
$code-block-bg: #1b263b !default;
$font-size-root: 1em;


$font-family-base: "Merriweather","Merriweather", "Roboto", "Cabin Regular", "Open Sans" !default;
$font-family-code: "Fira code" !default;
$headings-font-family: "Roboto", "Lato", "Merriweather" !default;
$headings-color: #001427 !default;
$link-color: #023e8a;